@tailwind base;
@tailwind components;
@tailwind utilities;

.BtnStyle {
  outline: 1px solid #00c1f0;
  background-color: white;
  color: #00c1f0;
}
.BtnStyle:hover {
  background-color: #00c1f0;
  color: white;
}
.suggest-item {
  padding: 10px;
  background-color: gainsboro;
  width: 350px;
  height: 150px;
}

/* checkout */
.svgIcon {
  border: 1px solid #00c1f0;
  padding: 5px;
  background-color: white;
  color: #00c1f0;
}
.svgIcon:hover {
  background-color: #00c1f0;
  color: white;
}
.deleteBtn {
  width: 30px;
  height: 30px;
}
