.CarouselProductImg {
  width: 160px;
  height: 180px;
  background-color: #00c1f0;
  color: white;
}
.addTocartBtn {
  outline: 1px solid #00c1f0;
  background-color: white;
  color: #00c1f0;
}
.addTocartBtn:hover {
  background-color: #00c1f0;
  color: white;
}
