.highlight-section {
  width: 85%;
  height: 8%;
}

/* Media query for small screens (e.g., mobile devices) */
@media only screen and (max-width: 200px) {
  .title h3 {
    font-size: 10px;
  }
  .title {
    margin: 0;
    font-size: 10px;
  }
  .highlight-section {
    margin: 20px;
    width: 90%;
    height: 80px;
  }
  .ProductHighlightImg {
    width: 70px;
    height: 80px;
  }
}

/* Media query for larger screens (e.g., tablets and desktops) */
@media only screen and (max-width: 601px) {
  .title h3 {
    font-size: 10px;
  }
  .title {
    margin: 5px;
    font-size: 10px;
  }
  .highlight-section {
    margin: 20px;
    width: 90%;
    height: 80px;
  }
  .ProductHighlightImg {
    width: 70px;
    height: 80px;
  }
}
