.search-btn {
  color: #00c1f0;
}
.icon-btn {
  stroke: black;
  fill: white;
  transition:
    fill 0.3s,
    color 0.3s; /* Add a transition effect */
}

.icon-btn:hover {
  fill: none;
  color: #00c1f0;
}
.navber-top {
  background-color: #f5f5f5;
}

/* Media query for small screens (e.g., mobile devices) */
@media only screen and (max-width: 300px) {
  .search-bar {
    width: 288px;
  }
}

/* Media query for larger screens (e.g., tablets and desktops) */
@media only screen and (min-width: 601px) {
  .search-bar {
    width: 450px;
  }
}
